/* calibrate parallax sections height */
  .parallax-window {
      height: auto;
      background: transparent;
  }

  .parallax-window-Gameplay{
    height: auto;
    background: transparent;
  }

  .parallax-window-The-World{
    height: auto;
    background: transparent;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: grey #111111;
  }

  .section{
    padding: 3.9rem;
  }

  img{
    width: 100%;
    max-width: 100%
  }

  .containerr{
    width: 100%;
    max-width: 122.5rem;
    margin: 0;
    padding: 0 2.4rem;
  }
/* html Section ends */

  .video_intro{
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  #video{
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .floor-header{
    /* height: 100vh;
    width: 100vh; */
    position: relative;
    overflow: hidden;
    top: -150px;
    left: 0;
  }
/* end video sections */

  .Quotes-field{
    color: #777;
    background-color:black;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
    width: 100%;
    display:block;
    font-family: 'Niconne';
    font-size: 23px;
  }
/* end Quotes field */

/* styles for parallax container */
  .flex-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  }

  .Text-Content {
    flex-grow: 2;
  }

  .Text-Content_2 {
    flex-grow: 2;
  }

  .Text-Content_3 {
    flex-grow: 2;
  }
/* styles for parallax container end */

  .global-headline{
    text-align: center;
    margin-top: 3.9rem;
  }

  .Text-Content .global-headline {
    margin-top: 6.9rem;
  }

  .BackStory-sections {
    text-align: center;
  }

  .Text-BackStory {
    margin-bottom: 3rem;
  }

  .Text-BackStory p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
  }

  .sub-headline{
    font-size: 8.5rem;
    color: #c59d5f;
    font-family: 'Niconne';
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
  }

  .First-letter{
    text-transform: uppercase;
    font-size: 10.3rem;
  }
  /* chỉnh cái này đi */
  .headline{
    color: white;
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    }
  /* ------------------ */

  /* Story Section ends */
  .image-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .Text-Content_2 .Text-gameplay{
    padding-top: 3rem;
    margin-bottom: 0;
  }
  /* gameplay section ends */

/* experiment */
  .BackStory-sections{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .BackStory-sections > div{
    flex: 1;
  }

  .padding-right {
    padding-right: 7rem;
  }
























/* ----------------------------------------------------------------------------- */
  #pic1{
    width: 20%;
    height: 20%;
  }

  .pic-intro img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #signup{
    background-color: black;
    /*background-image: url(https://steamuserimages-a.akamaihd.net/ugc/643249463521457690/17FF196159301FEEC23679B71232EB9A105857FC/?imw=1024&imh=576&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);
    max-width: 100%;
      height: auto;
      background-position: center;
      background-size:cover;*/
  }

/*  -------------------------------------------------------------------------------------*/
