/* calibrate parallax sections height(in mobile) */
  .parallax-window {
      height: auto;
      background: transparent;
  }

  .parallax-window-Gameplay{
    height: auto;
    background: transparent;
  }

  .parallax-window-The-World{
    height: auto;
    background: transparent;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: grey #111111;
  }

  html{
    font-size: 10px;
    scroll-behavior: smooth;
  }

  .section{
    padding: 3.9rem;
  }

  img{
    width: 100%;
    max-width: 100%
  }

  .container-Custom{
    width: 100%;
    max-width: 122.5rem;
    margin: 0;
    padding: 0 2.4rem;
  }

  .fadingline{
    /* tune margin for line size */
    margin: 0 12.5rem;
    /* margin-left: 100px; */
    display: block;
    /* width: 50%; */
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white , rgba(0, 0, 0, 0));
  }
/* html Section ends */

  .video_intro{
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  #video{
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }


/* end video sections */

  .Quotes-field{
    color: #777;
    background-color:black;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
    width: 100%;
    display:block;
    font-family: 'Niconne';
    font-size: 23px;
  }
/* end Quotes field */

/* styles for parallax container */
  .flex-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  }
/* styles for parallax container end */

  .global-headline{
    text-align: center;
    margin-top: 3.9rem;
    margin-bottom: 2rem;
  }

  .Story-area .global-headline {
    /* margin-top: 6.9rem; */
  }

  .Display-styles {
    text-align: center;
  }

  .Text-infomation {
    margin-bottom: 3rem;
  }

  .Text-infomation p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
  }

  .sub-headline{
    font-size: 5.5rem;
    color: #c59d5f;
    font-family: 'Niconne';
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
  }

  .First-letter{
    text-transform: uppercase;
    font-size: 10.3rem;
  }
  /* chỉnh cái này đi */
  /* .headline{
    color: white;
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    } */
  /* ------------------ */

  /* Story Section ends */


  .image-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .Gameplay-area .Text-infomation{
    padding-top: 3rem;
    margin-bottom: 0;
  }

  .Gameplay-area .global-headline {
    margin-top: 0rem;
  }
  /* gameplay section ends */



  /* toggle from mobile to desktop version */
    @media screen and (min-width: 900px) {

      .section {
        padding: 7.9rem;
      }

      .sub-headline {
        font-size: 10rem;
      }

      .First-letter {
        font-size: 12rem;
      }

      /* .headline {
        font-size: 4.7rem;
        letter-spacing: .8rem;
      } */

      .Display-styles{
       display: flex;
       align-items: center;
     }

     .Display-styles > div{
       flex: 1;
     }

     .padding-right {
       padding-right: 7rem;
     }
   }

    @media screen and (max-width: 400px) {
      .section{
        padding:0rem;
      }
    }

  /* styles for toggle texts */
      #Clicktable-origin{

      }

      #Clicktable-first{
        display: none;

      }

      #Clicktable-second{
        display: none;

      }

      #Clicktable-third{
        display: none;

      }

      #Clicktable-forth{
        display: none;

      }

      #Clicktable-fifth{
        display: none;

      }

      #Clicktable-sixth{
        display: none;

      }



















/* ----------------------------------------------------------------------------- */
  #pic1{
    width: 20%;
    height: 20%;
  }

  .pic-intro img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #signup{
    background-color: black;
  }
  @media screen and (min-width: 1600px) {

    html{
          font-size: 20px;
        }
  }
